
.searchBtn {
    padding: 10px 15px;
    color: #fff;
    background: rgb(22, 29, 47);
    border-radius: 10px;
    outline: none;
    border: none;
    opacity: 0.5;
  }
  
  .searchBtn:hover {
    color: rgb(22, 29, 47);
    color: #fff;
  }
  